
@{
    ViewBag.Title = "CalendarEvent";
}

<h1 style="font-size:large">
    BePresent
    </>
</h1>


<style>
    .sidebar-nav-fixed {
        width: 14%;
    }
</style>


 </a>
        </div>
    </div>
</div>




