
@{
    ViewBag.Title = "CalendarEvent";
}

<h1 style="font-size:large">
    BePresent
    </>
</h1>


<style>
    .sidebar-nav-fixed {
        width: 14%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="sidebar-nav-fixed affix">
                <div class="well">
                    <ul class="nav ">
                        <li class="nav-header"><a href="~/Admin/StudentHome">Students</a></li>
                        <li class="nav-header"><a href="~/Admin/Report">Report</a></li>
                        <li class="nav-header"><a href="~/Admin/Calendar">Calendar</a></li>
                        <li class="nav-header"><a href="~/Admin/Logout">Logout</a></li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
        </div>
       
        <div class="col-md-8">
            <a href="~/Admin/CalendarAddEvent">
                <img src="~/Content/img/Calendar Week View_Admin.jpg" width="80%;" style="margin-bottom: 30px;" />
 </a>
        </div>
    </div>
</div>




