
@{
    ViewBag.Title = "CalendarEvent";
}

<header class="w3-container w3-large">
    <p class="w3-right">
        <i class="fa fa-cog w3-margin-right"></i>
        <a href="~/Admin/MainHome"> Home </a>
    </p>
</header>


<style>
    .sidebar-nav-fixed {
        width: 14%;
    }
</style>


 </a>
        </div>
    </div>
</div>




