@{
    ViewBag.Title = "Home";
}

<h1> Admin Page</h1>
<div align="center">
    @Html.ActionLink("Student Profile", "StudentProfile", "Admin", null, new { @class = "btn btn-primary" })
</div>
<br />
<br />
<div align="center">
    @Html.ActionLink("Attendance Information", "Attendance", "Admin", null, new { @class = "btn btn-primary" })
</div>