
@{
    ViewBag.Title = "MainHome";
}



<style>
    .sidebar-nav-fixed {
        width: 14%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="wow bounceInUp" data-wow-delay="0.2s">
                <div class="team boxed-grey">
                    <div class="inner">
                        <h5>Students</h5>
   
                        <div class="avatar">
                            <a href="~/Admin/StudentHome">
                                <img src="~/Content/img/student-character-holding-big-pencil-clipart.jpg" alt="" class="img-responsive img-circle" style="width:150px;height:150px;" />
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="wow bounceInUp" data-wow-delay="0.5s">
                <div class="team boxed-grey">
                    <div class="inner">
                        <h5>Report</h5>
                        
                        <div class="avatar">
                            <a href="~/Admin/Report">
                                <img src="~/Content/img/hand-with-pencil-stars-checkmark-clipart.jpg" alt="" class="img-responsive img-circle" style="width:150px;height:150px;" />
                               </a>
                                </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="wow bounceInUp" data-wow-delay="0.8s">
                <div class="team boxed-grey">
                    <div class="inner">
                        <h5>Calendar</h5>
                      
                        <div class="avatar">
                            <a href="~/Admin/StudentCalendar">
                                <img src="~/Content/img/calendar-20clip-20art-july_calendar_712.jpg" alt="" class="img-responsive img-circle" style="width:150px;height:150px;" />
                                </a>
                          </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="wow bounceInUp" data-wow-delay="1s">
                <div class="team boxed-grey">
                    <div class="inner" >
                        <h5>Logout</h5>
                        
                        <div class="avatar">
                            <a href="~/Admin/Index">
                                <img src="~/Content/img/fun-watch-character-holding-a-school-pencil-clipart-6565.jpg" alt="" class="img-responsive img-circle" style="width:150px;height:150px;" />
                                </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


