
@{
    ViewBag.Title = "MainHome";
}



<style>
    .sidebar-nav-fixed {
        width: 14%;
    }
    
    .boxed-grey {
        background: #f9f9f9;
        padding: 20px;
    }

    .team h4 {
        margin-bottom: 10px;
    }

    .avatar {
        margin-bottom: 20px;
    }
    .home-section {
        padding-top: 110px;
        padding-bottom: 110px;
        display: block;
        position: relative;
        z-index: 120;
    }
    
</style>


    <section class="home-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="wow bounceInUp" data-wow-delay="0.2s">
                        <div class="team boxed-grey">
                            <div class="inner" style="font-family:'Comic Sans MS'; font-weight:bold; font-size:large">
                                <div class="avatar">
                                    <a href="~/Admin/StudentHome">
                                        <img src="~/Content/img/student-male.png" alt="" class="img-responsive img-circle" style="width:223px;height:223px;" />
                                    </a>
                                </div>
                                <h4><strong>Student</strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wow bounceInUp" data-wow-delay="0.5s">
                        <div class="team boxed-grey">
                            <div class="inner" style="font-weight:bold">


                                <div class="avatar">
                                    <a href="~/Admin/Report">
                                        <img src="~/Content/img/statistics-market-icon.png" alt="" class="img-responsive img-circle" style="width:223px;height:223px;" />
                                    </a>
                                </div>
                                <h4><strong>Report</strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wow bounceInUp" data-wow-delay="0.8s">
                        <div class="team boxed-grey">
                            <div class="inner" style="font-family:'Comic Sans MS'; font-weight:bold; font-size:16px">


                                <div class="avatar">
                                    <a href="~/Admin/StudentCalendar">
                                        <img src="~/Content/img/calendar-circle-blue-512.png" alt="" class="img-responsive img-circle" style="width:223px;height:223px;" />
                                    </a>
                                </div>
                                <h4><strong>Calendar</strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wow bounceInUp" data-wow-delay="1s">
                        <div class="team boxed-grey">
                            <div class="inner" style="font-family:'Comic Sans MS'; font-weight:bold; font-size:large">


                                <div class="avatar">
                                    <a href="~/Admin/Index">
                                        <img src="~/Content/img/Logout-512.png" alt="" class="img-responsive img-circle" style="width:223px;height:223px;" />
                                    </a>
                                </div>
                                <h4><strong>Logout</strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



