
@{
    ViewBag.Title = "Print";
}
<ol class="breadcrumb">
    <li><a href="~/Admin/MainHome">Home</a></li>
    <li><a href="~/Admin/StudentHome">Students</a></li>
    <li><a href="~/Admin/Read">Student Profile</a></li>
    <li class="active">Print</li>
</ol>
<style>
    .sidebar-nav-fixed {
        width: 14%;
    }
</style>




