
@{
    ViewBag.Title = "Profile";
}

<h1 style="font-size:large">
    BePresent
    </>
</h1>
<h2 style="font-size:medium">Profile</h2>
<style>
    .vertical-menu {
        text-align: center;
    }

        .vertical-menu a {
            background-color: #eee;
            color: black;
            display: block;
            padding: 0;
            width: 250px;
            height: 100px;
            text-align: center;
            font-stretch: expanded;
            border: solid;
            text-decoration: none;
        }

            .vertical-menu a:hover {
                background-color: #ccc;
                text-align: center;
            }

            .vertical-menu a.active {
                background-color: #4CAF50;
                color: white;
                text-align: center;
            }
</style>


<div class="vertical-menu" style="text-align:center">
    <div class="col-lg-1" style="text-align:center">
        <div>

            <a href="~/Admin/StudentHome">Students</a>
            <a href="~/Admin/Report">Report</a>
            <a href="~/Admin/Calendar">Calendar</a>
            <a href="~/Admin/Logout">Logout</a>
        </div>
    </div>
</div>
<div class="col-lg-offset-5">
    <img src="~/Content/img/prof.png" align="middle" width="500" height="400" />
    <br />
</div>

    <div class="row">
        <div class="col-sm-4">
        @Html.ActionLink("Edit", "Edit", "Admin", null, new { @class = "btn btn-primary" })</div>
        <div class="col-sm-4">
        @Html.ActionLink("Print", "Print", "Admin", null, new { @class = "btn btn-primary" })</div>
        <div class="col-sm-4">
        @Html.ActionLink("Delete", "Delete", "Admin", null, new { @class = "btn btn-primary" })</div>   
</div>
