
@{
    ViewBag.Title = "Report";
}
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Admin</a></li>
    <li class="active">Reports</li>
</ol>

<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiOTk5ZDU3MjYtZjE1NC00ZTBjLTlkYzAtNDBlZjQ4MThiMDYxIiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>




