
@{
    ViewBag.Title = "Report";
}

<ol class="breadcrumb">
    <li><a href="~/Admin/MainHome">Home</a></li>
    <li class="active">Reports</li>
</ol>
 
<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiZDhjZThkNTktZTQ3OC00Y2U4LWIwZjMtYTZjYjNlZDFlMTIyIiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>