
@{
    ViewBag.Title = "Report";
}

<h1 style="font-size:large">
    BePresent
    </>
</h1>
<h2 style="font-size:medium">Attendance report</h2>

<style>
    .sidebar-nav-fixed {
        width: 14%;
    }
</style>

      
        <div class="col-md-8">
           
                <img src="~/Content/img/rep.png" style="margin-bottom: 30px;" />
            
        </div>
    </div>
</div>




