@model _5051.Models.AdminProfileViewModel
@{
    ViewBag.Title = "StudentHome";
}

<ol class="breadcrumb">
    <li><a href="~/Admin/MainHome">Home</a></li>
  
    <li class="active">Students</li>
</ol>
<style>
    .bg {
        /*/* The image used */
        /*background-image: url('../../Content/img/portfolio-1.jpg');*/
        background-color: white;
        /* Full height */
        height: 70%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>

    <div class="container bg" style="text-align:center">
        <div class="row">

            @{
                if (Model.StudentList == null || !Model.StudentList.Any())
                {
                    <br />
                    <p>No Students in the System</p>
                    <br />
                }
                else
                {
                    foreach (var item in Model.StudentList)
                    {
                        <a id="@item.Id" href="~/Admin/Read/@item.Id">
                            <div class="col-sm-3">
                                <img src="~/Content/img/@item.Uri" width="70" height="100" />
                                <br />
                                <span><text style="align-content:center; font-size:medium;">
                                          <strong>   @item.Name </strong>
                                    </text>
                                </span>
                            </div>

                        </a>
                    }
                }
            }

        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-2">
                @Html.ActionLink("Add", "Create", null, new { @class = "btn btn-success" })
            </div>
        </div>




    </div>

    </div>
