
@{
    ViewBag.Title = "CheckIn";
}



<div class="col-md-6">
    <p class="text-center" style="font-size:large"> <strong>Check In Success</strong></p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="col-md-6 text-center">
    @Html.ActionLink("BACK", "Index", "Kiosk", new { @class = "btn btn-success" })
</div>
