@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Check In</h2>

<div class="">
    <p>
        <a href='@Url.Action("checkInConf", "Kiosk")'>
            <img src='@Url.Content("~/Content/img/checkIn.jpg")' width="800" height="400" />
        </a>
    </p>
</div>
<div class="">
    <p>
        <a href='@Url.Action("checkOutConf", "Kiosk")'>
            <img src='@Url.Content("~/Content/img/checkOut.jpg")' width="800" height="200" />
        </a>
    </p>
</div>