@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    .imgopacity {
        opacity: 0.2;
    }

   
  
</style>


    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Kiosk</li>
    </ol>
    <body>
        <header class=" w3-right w3-median">

            <p id="demo"></p>

            <script>

                var dt = new Date();

                document.getElementById("demo").innerHTML = dt.toLocaleString();

                var myVar = setInterval(function () { myTimer() }, 1000);

                function myTimer() {

                    var d = new Date();

                    document.getElementById("demo").innerHTML = d.toLocaleString();

                }

            </script>
        </header>
        <br />
        <br />

        <div class="panel panel-primary ">
            <div class="panel-heading">
                <h3 class="panel-title">Welcome friends! Please check in...</h3>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img class="img-rounded" src="~/Content/img/girl 1_crop.png" alt="display pic" style="width:100px;height:130px" />
                        </div>
                        <div class="col-md-4 text-center">
                            <img class="img-rounded" src="~/Content/img/boy 4_crop.png" alt="display pic" style="width:100px;height:130px" />
                        </div>
                        <div class="col-md-4 text-center">
                            <img class="img-rounded" src="~/Content/img/boy 2_crop.png" alt="display pic" style="width:100px;height:130px" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <!-- Trigger the modal with a button -->
                <div class="col-md-4 text-center">

                    Diamond

                </div>

                <div class="col-md-4 text-center">

                    Harry


                </div>
                <div class="col-md-4 text-center">

                    Jea

                </div>



                <br />


                <div class="panel-heading">
                   
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img class="img-rounded" src="~/Content/img/girl 2_crop.png" alt="display pic" style="width:100px;height:130px" />
                            </div>
                            <div class="col-md-4 text-center">
                                <img class="img-rounded" src="~/Content/img/boy 3_crop.png" alt="display pic" style="width:100px;height:130px" />
                            </div>
                            <div class="col-md-4 text-center">
                                <img class="img-rounded" src="~/Content/img/boy 1_crop.png" alt="display pic" style="width:100px;height:130px" />
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="container">
                        <!-- Trigger the modal with a button -->
                        <div class="col-md-4 text-center ">
                          
                            Hannah

                        </div>
                        <div class="col-md-4 text-center">

                            John

                        </div>
                        <div class="col-md-4 text-center">

                            Mike

                        </div>
                    </div>


                </div>
            </div>
        </div>

    </body>

