@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Check In</h2>
<table>
    <tr>
        <td>
            <div class="nav3">
                <div>
                    <img src="~/Content/img/displayPic.jpg" alt="display pic" style="height : 150px;" />
                </div>
                <div class="col-sm-offset-3">
                    @Html.ActionLink("Diamond", "checkInConf", "Kiosk", null, new { @class = "btn btn-primary" })
                </div>
                </div>
        </td>
    <td>
    <div class="nav3">
        <div>
                <img src="~/Content/img/displayPic.jpg" alt="display pic" style="height : 150px;" />
            </div>
            <div class="col-sm-offset-3">
                @Html.ActionLink("Sean", "checkInConf", "Kiosk", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </td>
    </tr>
</table>

<div class="row">
    <a href='@Url.Action("checkOutConf", "Kiosk")'>
        <img src='@Url.Content("~/Content/img/checkOut.jpg")' style="width:100%">
    </a>
</div>

