@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Check In</h2>

<div class="container">
        <div class="">
            <img src="~/Content/img/stuCheckIn.jpg" width="800" height="600" />
            <br />
        </div>
        <p>
            @Html.ActionLink("Test", "checkInConf", "Kiosk", null, new { @class = "btn btn-primary" })
            <a href='@Url.Action("checkInConf", "Kiosk")'>
                <img src='@Url.Content("~/Content/img/stuCheckIn.jpg")' />
            </a>
        </p>
</div>
