@{
    ViewBag.Title = "About";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

<style>
    body, html {
        height: 100%;
        font-family: "Inconsolata", sans-serif;
    }
</style>


<!-- Add a background color and large text to the whole page -->
<div class="w3-light-grey w3-grayscale w3-large">

    <!-- About Container -->
    <div class="w3-container" id="about">
        <div class="w3-content" style="max-width:700px">
            <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT THE CALENDAR</span></h5>
            <p>Admin is able to customize class schedule and add events.Once Admin update the calendar, student portal will update simultaneously. It is easy to navigate 
            because layout is extremly straight-forward. It also provides convenience to both admin and students that they get connected anytime and anywhere without missing 
            any school events. 
            </p>
            <img src="~/Content/img/calendar.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
           
        </div>
    </div>
</div>