@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>This system is make as a class project for Seattle University CS department Students, in conjunction with Middle College High School</p>

<a href="https://www.seattleu.edu/education/community-engagement/middle-college-high-school/">Middle College High School</a>

<br />
<a href="https://www.seattleu.edu/">Seattle University</a>

<p>
    Contact: <a href="mailto:patnanis@seattleu.edu,zhaos@seattleu.edu,gaoy5@seattleu.edu,vadnereh@seattleu.edu,kaurj3@seattleu.edu "> Shivani Patnani , Sihui Zhao, Yinru Gao, Harshal Vadnere, Jaskern Kaur</a>
</p>

