@{
    ViewBag.Title = "Attendance";
}

    <ol class="breadcrumb">
        <li><a href="~/Student/Nav">DashBoard</a></li>
        <li class="active">Attendance</li>
    </ol>

<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiYTg4NTViNWMtZjlhMi00MDQzLTgzZDYtZTE1NjkzODVjZGQzIiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>