@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/Content/Student.css" rel="stylesheet" />

<link href="~/Content/style.css" rel="stylesheet" />
<body class="w3-content" style="max-width:1200px">

    <ol class="breadcrumb">
        <li><a href="~/Student/Nav">DashBoard</a></li>
        <li class="active">Calendar</li>
    </ol>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px">


        <div class="w3-container" id="about">

            <div class="col-md-2 ">
                <div id="calendar" style="color:black">
                    <strong>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>

                        <script src="~/Scripts/index.js"></script>
                    </strong>
                </div>
            </div>
        </div>
    </div>
