
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
        <p class="w3-center" font-size : xxx-large>Upload Link: </p>
        <img src="~/Content/img/student.jpg" style="width:100%;max-width:500px" class="w3-margin-top">
        <p class="w3-center" font-size : xxx-large>Diamond</p>

        <div class="w3-padding-64 w3-large w3-text-grey">
            <a href="#" class="w3-bar-item w3-button">Save</a>
            <a href="~/Student/Profile" class="w3-bar-item w3-button">Cancel</a>
        </div>
    </div>
</div>