
@{
    ViewBag.Title = "Home";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    .w3-sidebar a {
        font-family: "Roboto", sans-serif
    }

    body, h1, h2, h3, h4, h5, h6, .w3-wide {
        font-family: "Inconsolata", sans-serif;
        
    html, body{
        padding: 0;
        margin: 0;
        background-color: black;
    }

    #earth_div {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute !important;
    }
    
</style>

<body class="w3-content" style="max-width:1200px">

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
        <div class="w3-container w3-display-container w3-padding-16">
            <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
            <h3 class="w3-wide"><b>Menu</b></h3>
        </div>
        <div class="w3-padding-64 w3-large w3-text-grey">
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a href="~/Student/Profile" class="w3-bar-item w3-button">Profile</a>
            <a href="~/Student/PostCards" class="w3-bar-item w3-button">PostCards</a>
            <a href="~/Student/Attendance" class="w3-bar-item w3-button">Attendance</a>
            <a href="~/Student/Calendar" class="w3-bar-item w3-button">Calendar</a>
            <a href="~/Student/Logout" class="w3-bar-item w3-button">Logout</a>

        </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px">

        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>

        <!-- Top header -->
        <header class="w3-container w3-xlarge">
            <p></p>
            <p class="w3-left">Welcome, Diamond</p>
        </header>

        <header class=" w3-right w3-median">
            <p id="demo"></p>
            <script>
                var dt = new Date();
                document.getElementById("demo").innerHTML = dt.toLocaleString();
                var myVar = setInterval(function () { myTimer() }, 1000);

                function myTimer() {
                    var d = new Date();
                    document.getElementById("demo").innerHTML = d.toLocaleString();
                }

            </script>
        </header>

        <!-- reward point -->
        <header class="w3-container w3-median">
            <p></p>
            <p class="w3-right">Reward Point：2000</p>
        </header>

        <!-- button -->
        <button class=" w3-right" onclick="myFunction()">Claim</button>
        <p id="demo"></p>

        <script>
            function myFunction() {
                var txt;
                if (confirm("Click to claim your extra reward point")) {
                    txt = "You have clicked!";
                } else {
                    txt = "You pressed Cancel!";
                }
                document.getElementById("demo").innerHTML = txt;
            }
        </script>

        <!-- earth -->
        <header>
            <script src="http://www.webglearth.com/v2/api.js"></script>
            <script>
                function initialize() {
                    var earth = new WE.map('earth_div');
                    WE.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(earth);

                    var marker = WE.marker([51.5, -0.09]).addTo(earth);
                    marker.bindPopup("<b>London</b><br>You are currently here<br /><span style='font-size:10px;color:#999'>Tip: Another popup is hidden in Cairo..</span>", { maxWidth: 150, closeButton: true }).openPopup();

                    var marker2 = WE.marker([30.058056, 31.228889]).addTo(earth);
                    marker2.bindPopup("<b>Cairo</b><br>You have travlled before", { maxWidth: 120, closeButton: false });


                    earth.setView([51.505, 0], 4);

                    // Start a simple rotation animation
                    var before = null;
                    requestAnimationFrame(function animate(now) {
                        var c = earth.getPosition();
                        var elapsed = before ? now - before : 0;
                        before = now;
                        earth.setCenter([c[0], c[1] + 0.1 * (elapsed / 30)]);
                        requestAnimationFrame(animate);
                    });


                }
            </script>

        </header>

        <body onload="initialize()">
            <div id="earth_div"></div>
        </body>


        <!-- Play button -->
        <button class=" w3-center" onclick="Play()">Play</button>
        <script>
            function Play() {
   

                var markerCustom = WE.marker([39.9, 116.3]).addTo(earth);
                markerCustom.bindPopup("<b>Beijing</b><br>You are currently here", { maxWidth: 120, closeButton: true });

            }
        </script>

        

</body>