

@{
    ViewBag.Title = "Nav";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }
    .w3-vivid-reddish-purple {
        color: #fff;
        background-color: #870074
    }
    .w3-vivid-blue {
        color: #fff;
        background-color: #00a1c2
    }
    .w3-vivid-yellow {
        color: #fff;
        background-color: #f3c300
    }

    .w3-vivid-purplish-blue {
        color: #fff;
        background-color: #30267a
    }

    .w3-vivid-greenish-yellow {
        color: #fff;
        background-color: #dcd300
    }
    .w3-vivid-bluish-green

    {
        color: #fff;
        background-color: #008882
    }

    .w3-vivid-green {
        color: #fff;
        background-color: #008856
    }

    .w3-vivid-purplish-red {
        color: #fff;
        background-color: #ce4676
    }


</style>

<body class="w3-light-grey">


   


    @*DashBoard setting*@
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i>My Dashboard</b></h5>
    </header>


    <div class="w3-third">
        <div class="w3-container w3-vivid-blue  w3-padding-16">
            <div class="w3-left">
                <i class="fa fa-user w3-xxxlarge"></i>
            </div>
            <div class="w3-clear"></div>
            <a href="~/Student/Profile">Profile</a>

        </div>
    </div>
    <div class="w3-third">
        <div class="w3-container w3-vivid-bluish-green w3-padding-16">
            <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
            <div class="w3-clear"></div>
            <a href="~/Student/Home">Game</a>
        </div>
    </div>
    <div class="w3-third">
        <div class="w3-container w3-vivid-yellow w3-text-white w3-padding-16">
            <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
            <div class="w3-clear"></div>
            <a href="~/Student/Postcards">PostCards</a>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-container w3-vivid-purplish-blue w3-padding-16">
            <div class="w3-left"><i class="fa fa-diamond w3-xxxlarge"></i></div>
            <div class="w3-clear"></div>
            <a href="~/Student/Calendar ">Calendar</a>
        </div>
    </div>
    <div class="w3-third">
        <div class="w3-container w3-vivid-reddish-purple w3-padding-16">
            <div class="w3-left"><i class="fa fa-envelope w3-xxxlarge"></i></div>
            <div class="w3-clear"></div>
            <a href="~/Student/Attendance ">Attendance</a>
        </div>

    </div>

    <div class="w3-third">
        <div class="w3-container w3-vivid-purplish-red w3-padding-16">
            <div class="w3-left"><i class="fa fa-dashboard w3-xxxlarge"></i></div>
            <div class="w3-clear"></div>
            <a href="~/Student/Logout ">Logout</a>
        </div>
    </div>


    

    <div class="w3-panel">
        <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-third">
                <h5>Logo</h5>
                <img src="~/Content/img/earthColor.jpg" style="width:100%" alt="Google Regional Map">
            </div>
            <div class="w3-twothird">
                <h5>Activities Log</h5>
                <table class="w3-table w3-striped w3-white">
                    <tr>
                        <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
                        <td>Check in</td>
                        <td><i>6 hrs</i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
                        <td>Upload Profile Picture</td>
                        <td><i></i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-share-alt w3-text-yellow w3-large"></i></td>
                        <td>Game</td>
                        <td><i></i></td>

                    </tr>
                    <tr>
                        <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
                        <td>Check in</td>
                        <td><i>8 hrs</i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
                        <td>Check in</td>
                        <td><i>8 hrs</i></td>
                    </tr>

                    <tr>
                        <td><i class="fa fa-share-alt w3-text-yellow w3-large"></i></td>
                        <td>Game</td>
                        <td><i></i></td>

                    </tr>

                    <tr>
                        <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
                        <td>Check in</td>
                        <td><i>8 hrs</i></td>
                    </tr>

                    <tr>
                        <td><i class="fa fa-share-alt w3-text-yellow w3-large"></i></td>
                        <td>Game</td>
                        <td><i></i></td>

                    </tr>

                </table>
            </div>
        </div>
    </div>
    <hr>
