

@{
    ViewBag.Title = "Nav";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">My Dashboard</h3>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
</div>


    

    <div class="w3-third">
        <div class="w3-container w3-blue w3-padding-16">
            <div class="w3-left">
                <i class="fa fa-user w3-xxxlarge"></i>
            </div>
            <div class="w3-clear"></div>
            <a href="~/Student/Profile">Profile</a>

        </div>
    </div>
    <div class="w3-third">
        <div class="w3-container w3-teal w3-padding-16">
            <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
            <div class="w3-clear"></div>
            <a href="~/Student/Home">Game</a>
        </div>
    </div>
    <div class="w3-third">
        <div class="w3-container w3-orange w3-text-white w3-padding-16">
            <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
            <div class="w3-clear"></div>
            <a href="~/Student/Postcards">PostCards</a>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-container w3-pink w3-padding-16">
            <div class="w3-left"><i class="fa fa-diamond w3-xxxlarge"></i></div>
            <div class="w3-clear"></div>
            <a href="~/Student/Calendar ">Calendar</a>
        </div>
    </div>
    <div class="w3-third">
        <div class="w3-container w3-purple w3-padding-16">
            <div class="w3-left"><i class="fa fa-envelope w3-xxxlarge"></i></div>
            <div class="w3-clear"></div>
            <a href="~/Student/Attendance ">Attendance</a>
        </div>

    </div>

    <div class="w3-third">
        <div class="w3-container w3-red w3-padding-16">
            <div class="w3-left"><i class="fa fa-dashboard w3-xxxlarge"></i></div>
            <div class="w3-clear"></div>
            <a href="~/Student/Logout ">Logout</a>
        </div>
    </div>


    

    <div class="w3-panel">
        <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-third">
                <h5>Logo</h5>
                <img src="~/Content/img/earthColor.jpg" style="width:100%" alt="Google Regional Map">
            </div>
            <div class="w3-twothird">
                <h5>Activities Log</h5>
                <table class="w3-table w3-striped w3-white">
                    <tr>
                        <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
                        <td>Check in</td>
                        <td><i>6 hrs</i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
                        <td>Upload Profile Picture</td>
                        <td><i></i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-share-alt w3-text-yellow w3-large"></i></td>
                        <td>Game</td>
                        <td><i></i></td>

                    </tr>
                    <tr>
                        <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
                        <td>Check in</td>
                        <td><i>8 hrs</i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
                        <td>Check in</td>
                        <td><i>8 hrs</i></td>
                    </tr>

                    <tr>
                        <td><i class="fa fa-share-alt w3-text-yellow w3-large"></i></td>
                        <td>Game</td>
                        <td><i></i></td>

                    </tr>

                    <tr>
                        <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
                        <td>Check in</td>
                        <td><i>8 hrs</i></td>
                    </tr>

                    <tr>
                        <td><i class="fa fa-share-alt w3-text-yellow w3-large"></i></td>
                        <td>Game</td>
                        <td><i></i></td>

                    </tr>

                </table>
            </div>
        </div>
    </div>
    <hr>
