@{
    ViewBag.Title = "Profile";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .w3-sidebar a {
        font-family: "Roboto", sans-serif
    }

    body, h1, h2, h3, h4, h5, h6, .w3-wide {
        font-family: "Inconsolata", sans-serif;
</style>


<body class="w3-content" style="max-width:1200px">

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
        <div class="w3-container w3-display-container w3-padding-16">
            <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
            <h3 class="w3-wide"><b>Menu</b></h3>
        </div>
        <div class="w3-padding-64 w3-large w3-text-grey">
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a href="~/Student/Profile" class="w3-bar-item w3-button">Profile</a>
            <a href="~/Student/PostCards" class="w3-bar-item w3-button">PostCards</a>
            <a href="~/Student/Attendance" class="w3-bar-item w3-button">Attendance</a>
            <a href="~/Student/Calendar" class="w3-bar-item w3-button">Calendar</a>
            <a href="~/Student/Logout" class="w3-bar-item w3-button">Logout</a>

        </div>
    </nav>


    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px">


        <div class="w3-container" id="about">
            <div class="w3-content" style="max-width:700px">
                <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Student Profile</span></h5>
                <img src="~/Content/img/Student.npg" style="width:100%;max-width:500px" class="w3-margin-top">
                <p class="w3-center" font-size : xxx-large>Diamond</p>

                <div class="w3-padding-64 w3-large w3-text-grey">
                    <a href="#" class="w3-bar-item w3-button">Edit</a>
                    <a href="~/Student/Home" class="w3-bar-item w3-button">Cancel</a>
                </div>
            </div>
        </div>





