@{
    ViewBag.Title = "Profile";
}
<ol class="breadcrumb">
    <li><a href="~/Student/Nav">DashBoard</a></li>
    <li class="active">Profile</li>
</ol>
<body>

    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="thumbnail">
                            <img src="~/Content/img/student-male.png" alt="display pic" style="width:150px;height:150px" />
                            <div class="caption">
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#chgProPic">Change Profile Picture</button>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="chgProPic" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <label>Upload File</label>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                    <input type="file">
                                                <p class="help-block">Only png and jpg allowed</p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 text-right">
                        <span class="label label-default">Name</span>
                    </div>
                    <div class="col-md-6 text-left">
                        <font size="3">Mike</font>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <span class="label label-default">Mobile</span>
                        </div>
                        <div class="col-md-6 text-left">
                            <font size="3">206-999-9999</font>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <span class="label label-default">Guardian Name</span>
                        </div>
                        <div class="col-md-6 text-left">
                            <font size="3">John Doe</font>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <span class="label label-default">Guardian Mobile</span>
                        </div>
                        <div class="col-md-6 text-left">
                            <font size="3">206-999-9999</font>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <span class="label label-default">Address</span>
                        </div>
                        <div class="col-md-6 text-left">
                            <font size="3">344 56th Ave, Marshall Road, Seattle, WA-98065</font>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>



</body>