@{
    ViewBag.Title = "Profile";
}
<ol class="breadcrumb">
    <li><a href="#">Student</a></li>
    <li class="active">Profile</li>
</ol>

<div class="container text-center">

    <img class="img-rounded" src="~/Content/img/displayPic.jpg" width="138" height="113" alt="display pic" />
</div>
